body{

}

#Automoblox h1{
    color:black;
    text-align:center;
    letter-spacing: 70px;
}

#Images{
    background-image: url("images/d828468082e57fac8259f59923f05af2.png");
    background-repeat: no-repeat;
}
#background{

}